* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.container {
  height: 100vw;
  /* background: yellow; */
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}

.img {
  border-radius: 20px;
  background: rgb(243, 222, 207);
  padding: 5px;
}

.img > img {
  width: 500px;
}
